version: '3.9'

services:
  hitscord:
    build:
      context: ./hitscord_new
      dockerfile: hitscord_new/Dockerfile
    depends_on:
      - postgres
      - minio
    env_file:
      - .env
    environment:
      - ASPNETCORE_URLS=http://+:80
    restart: unless-stopped
    ports:
      - "5000:80"
    networks:
      - hitscord_network

  frontend:
    build:
      context: ./ap
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL} 
    volumes:
      - frontend_build:/app/build
    restart: "no"
    env_file:
      - .env
    networks:
    - hitscord_network



  clamav:
    image: clamav/clamav:latest
    restart: always
    ports:
      - "3310:3310"
    networks:
      - hitscord_network

  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - hitscord_network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - frontend_build:/usr/share/nginx/html:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - hitscord
    networks:
      - hitscord_network

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    env_file:
      - .env
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - hitscord_network

  minio-create-bucket:
    image: minio/mc:latest
    depends_on:
      - minio
    env_file:
      - .env
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set myminio http://minio:9000 $MINIO_USER $MINIO_PASSWORD;
      mc mb -p myminio/$MINIO_BUCKET || true;
      mc anonymous set public myminio/$MINIO_BUCKET;
      exit 0;
      "
    networks:
      - hitscord_network

volumes:
  pgdata:
  minio_data:
  frontend_build:

networks:
  hitscord_network:
    driver: bridge