version: '3.9'

services:
  hitscord:
    build:
      context: ./hitscord_new
      dockerfile: hitscord_new/Dockerfile
    depends_on:
      - postgres
      - minio
    environment:
      - ASPNETCORE_URLS=http://+:80
      - DB_HOST=${DB_HOST}
      - DB_NAME_FIRST=${DB_NAME_FIRST}
      - DB_NAME_SECOND=${DB_NAME_SECOND}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - CLAMAV_HOST=${CLAMAV_HOST}
      - CLAMAV_PORT=${CLAMAV_PORT}
      - API_BASE_URL=${API_BASE_URL}
      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
      - MINIO_USER=${MINIO_USER}
      - MINIO_PASSWORD=${MINIO_PASSWORD}
      - MINIO_BUCKET=${MINIO_BUCKET}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
    restart: unless-stopped
    ports:
      - "5000:80"
    networks:
      - hitscord_network

  frontend:
    build:
      context: ./ap
    volumes:
      - frontend_build:/app/build
    restart: "no"
    networks:
    - hitscord_network



  clamav:
    image: clamav/clamav:latest
    restart: always
    ports:
      - "3310:3310"
    networks:
      - hitscord_network

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - hitscord_network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - frontend_build:/usr/share/nginx/html:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    environment:
      - NGINX_SERVER_NAME=${NGINX_SERVER_NAME}
      - SSL_CERT_PATH=${SSL_CERT_PATH}
      - SSL_KEY_PATH=${SSL_KEY_PATH}
    depends_on:
      - frontend
      - hitscord
    networks:
      - hitscord_network
    command: /bin/sh -c "envsubst '\$NGINX_SERVER_NAME \$SSL_CERT_PATH \$SSL_KEY_PATH' < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - hitscord_network

  minio-create-bucket:
    image: minio/mc:latest
    depends_on:
      - minio
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
      MINIO_BUCKET: ${MINIO_BUCKET}
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set myminio http://minio:9000 $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD;
      mc mb -p myminio/$MINIO_BUCKET || true;
      mc anonymous set public myminio/$MINIO_BUCKET;
      exit 0;
      "
    networks:
      - hitscord_network

volumes:
  pgdata:
  minio_data:
  frontend_build:

networks:
  hitscord_network:
    driver: bridge