version: '3.9'

services:
  hitscord:
    build:
      context: .
      dockerfile: hitscord_new/Dockerfile
    depends_on:
      - postgres
      - minio
    environment:
      - RabbitMq__Host=rabbitmq
      - ASPNETCORE_URLS=http://+:80
    restart: unless-stopped
    ports:
      - "5000:80"
    networks:
      - hitscord_network

  clamav:
    image: clamav/clamav:latest
    restart: always
    ports:
      - "3310:3310"
    networks:
      - hitscord_network

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: z984tRjZh5gbUm9
      POSTGRES_PASSWORD: VYR89FXVsS3MuSbup9bQ
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - hitscord_network

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - hitscord
    networks:
      - hitscord_network

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - hitscord_network

  minio-create-bucket:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set myminio http://minio:9000 minioadmin minioadmin;
      mc mb -p myminio/files || true;
      mc anonymous set public myminio/files;
      exit 0;
      "
    networks:
      - hitscord_network

volumes:
  pgdata:
  minio_data:

networks:
  hitscord_network:
    driver: bridge